/* Stile Pagina Del Sito */

:root{
    --color-1: #212529;
    --color-2: #FFFFFF;
    --color-3: #444343;
}

.navbar-brand img{
    width: 60px;
    padding: 2px;
    height: 60px;
}

#Navbar{
    background-color: var(--color-1);
    color: var(--color-2);
}

#Navbar li a{
    color: var(--color-2);
}

#icon{
    color: var(--color-3);
    padding: 6px;
    font-size: 20px;
}

.navbar-toggler{
    border: 2px solid var(--color-3);
}