/* Stile Pagina Del Sito */

:root{
    --color-1: #212529;
    --color-2: #FFFFFF;
    --color-3: #444343;
}

.navbar-brand img{
    width: 60px;
    padding: 2px;
    height: 60px;
}

.container-fluid.row{
    width: 104%;
}

#Navbar{
    background-color: var(--color-1);
    color: var(--color-2);
}

#Navbar li a{
    color: var(--color-2);
}

#icon{
    color: var(--color-3);
    padding: 6px;
    font-size: 20px;
}

.navbar-toggler{
    border: 2px solid var(--color-3);
}

.add-book-sc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}

.col-btn{
    width: auto;
    display: flex;
    gap: 10px;
    padding: 0;
}

.list-group{
    border: 1px solid var(--color-1);
    width: 100%;
}

.list-group-item{
    padding: 16px;
    list-style: none;
    border: 1px solid var(--color-3);
}

.cont-list-ins{
    list-style: none;
    padding: 10px;
    border: 1px solid var(--color-3);
}

.main-sc{
    padding: 10px;
}

.list-top{
    background-color: var(--color-3);
    color: var(--color-2);
}

.col-12.col-lg-7{
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.input-form-sc{
    padding: 10px;
}

.label-sc{
    font-weight: 700;
    padding: 4px;
}

.main-sc{
    width: auto;
    padding: 30px;
}

.submit-sc{
    display: flex;
    gap: 10px;
    flex-direction: column;
}